#root {
  padding: 2rem;
}

hr.divider {
  border: rgba(242, 201, 76);
  border-style: dashed;
  border-width: 3px;
  height: 2px;
}

header {
  display: flex;
  flex-wrap: wrap;
}

header h1 {
  font-family: fringe-v2;
  margin-bottom: 0.5em;
}

header h1 a {
  text-decoration: none;
  color: unset;
}

header h1 a:hover {
  color: unset;
}

header .auth {
  text-align: right;
  margin: auto 12px;
}

@media (max-width: 540px) {
  header {
    margin-bottom: 1.8em;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.highlight {
  color: rgba(242, 201, 76);
}

.Home {
  max-width: 800px;
  margin: 1.5em auto;
  font-size: 1.5em;
}

.Drifter h3 {
  text-align: center;
  font-family: druk-wide-medium;
}

.Drifter img {
  width: 512px;
}

@media (max-width: 540px) {
  .Drifter img {
    width: 100%;
  }
}

.Drifter .attrs {
  margin-left: 1rem;
}

.Drifter .attr {
  font-size: 1.4em;
  white-space: nowrap;
}

.DrifterNarrative {
  max-width: 800px;
  margin: 1.5em auto;
  font-size: 1.3em;
}

.DrifterNarrative textarea {
  width: 100%;
  font-size: 1.2em;
}

.DrifterNarrative .actions {
  vertical-align: center;
  text-align: right;
}

.DrifterNarrative .actions > *:not(:first-child) {
  margin-left: 16px;
}

.DrifterNarrative .disclaimer {
  font-size: 0.75em;
}

input[type="text"] {
  font-family: druk-wide-medium;
  border-radius: 1px;
  border: none;
  outline: none;
  border-bottom: 4px solid rgba(242, 244, 246);
  font-size: 1.5em;
  width: 6.5em;
  text-align: left;
  padding: 0.25em;
}

input[type="text"]:focus {
  border-bottom: 4px solid rgba(242, 201, 76);
}

input[type="number"] {
  font-family: druk-wide-medium;
  border-radius: 1px;
  border: none;
  outline: none;
  border-bottom: 4px solid rgba(242, 244, 246);
  font-size: 1.5em;
  width: 7.25em;
  text-align: left;
  padding: 0.25em;
}

input[type="number"]:focus {
  border-bottom: 4px solid rgba(242, 201, 76);
}