#root {
  padding: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.Drifter img {
  width: 512px;
}

@media (max-width: 512px) {
  .Drifter img {
    width: 100%;
  }
}

.Drifter .attrs {
  margin-left: 1rem;
}

.Drifter .attr {
  font-size: 1.4em;
}

input[type="text"] {
  border-radius: 1px;
  border: none;
  outline: none;
  border-bottom: 4px solid rgba(242, 244, 246);
  font-size: 1.5em;
  width: 4em;
  text-align: center;
  padding: 0.25em;
}

input[type="text"]:focus {
  border-bottom: 4px solid rgba(242, 201, 76);
}